{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{% static 'bootstrap5/min.css' %}">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 100px;
      padding: 20px;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      background-color: #fff;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2 class="text-center mb-4">Dashboard, {{user.username}}</h2>
    <div class="row">
      <div class="col-md-6">
        <a href="/meeting" class="btn btn-success btn-block">Create Meeting</a>
      </div>
      <div class="col-md-6">
        <a id="joinMeetingBtn" href="/join_room" class="btn btn-primary btn-block">Join Meeting</a>
      </div>
      <div class="mt-3"></div>
      <div class="col-md-6">
        <a href="/logout_user" class="btn btn-danger btn-block">Log Out</a>
      </div>

      <div class="col-md-6">
        <a href="/avatar" class="btn btn-secondary btn-block">Avatar</a>
      </div>
    </div>
  </div>

  <script src="{% static 'jquery/main.js' %}"></script>
  <script src="{% static 'bootstrap5/min.js' %}"></script>
  <script>
  </script>
</body>

</html>